<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                  <h4 class="card-title">Barra de progreso</h4>
                  <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active"
                        style="height:5px;"
                        [style.width]="getProgressBar1"
                        role="progressbar">
                    </div>
                  </div>

                  <div class="progress m-t-20">
                    <div class="progress-bar bg-info progress-bar-striped active"
                        style="height:5px;"
                        [style.width]="getProgressBar2"
                        role="progressbar">
                    </div>
                  </div>

                </div>
            </div>
        </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <app-incrementador (valor)="progressBar1 = $event"
                            [valor]="progressBar1">
        </app-incrementador>

      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <app-incrementador (valor)="progressBar2 = $event"
                            [valor]="progressBar2"
                            [btnClass]="'btn-info'">
        </app-incrementador>

      </div>
    </div>
  </div>
</div>




